:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  --mainRed:#fd0000;
}
.font-root-title{
  font-family: 'Yusei Magic', sans-serif;
}
.font-root-content {
  font-family: 'Roboto Condensed', sans-serif;
}